<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./../static/chat.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" href="./pictures/Bryson Logo.png">
    <title>AK Website</title>
</head>
<body>
    <form action = "http://localhost:3000/send_comment" method = "post">
        <p>Enter Name:</p>
        <p><input type = "text" name = "author" /></p>
        <p>Enter Content:</p>
        <p><input type = "text" name = "content" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
    <div id = "commentSection">
        

    </div>
</body>
</html>
<script src="./../static/chat.js"></script>