<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./../static/chat.css">
    <link rel="stylesheet" href="./../static/nav.css">
    <nav>
        <a href="/">Home</a> |
        <a href="/chat">Chat</a> |
    </nav>
    <br><br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" href="./pictures/Bryson Logo.png">
    <title>AK Website</title>
</head>
<body>

    <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    <form id = "input-comment" action = "http://localhost:3000/send_comment" method = "post" target="hiddenFrame">
        <p>Name</p>
        <p><input class = "author-input" type = "text" name = "author" /></p>
        <p>Content</p>
        <p><input class = "content-input" type = "text" name = "content" /></p>
        <p><input class = "submit-comment-button" type = "submit" value = "submit" /></p>
     </form>
     <br>
     <br>
    <div id = "commentSection">
        

    </div>
</body>
</html>
<script src="./../static/chat.js"></script>